{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <select name="symbol" class="mb-3">
        <option disabled selected>Stock</option>
        {% for owned in owned_stocks.keys() %}
            <option value="{{ owned }}">{{ owned }}</option>
        {% endfor %}
    </select>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="N° Shares" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell Stock</button>
</form>
{% endblock %}
